[submodule "src/fxt"]
	path = src/fxt
	url = https://github.com/ten-blue-links/fxt.git
[submodule "src/lightgbm"]
	path = src/lightgbm
	url = https://github.com/microsoft/LightGBM.git
[submodule "src/cpp-netlib"]
	path = src/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib
